<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CardHoldersDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\itronin\Desktop\VSproject\NoWork2(NoWork)\NoWork2(NoWork)\CardHoldersDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>